    <div class="menu left">
        <a href="/asset_manager" class="menu-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <span>资产管理</span>
        </a>
        <a href="/user_manager" class="menu-item">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>用户管理</span>
        </a>
        <a class="menu-item" href="/business_manager">
            <i class="fa fa-free-code-camp" aria-hidden="true"></i>
            <span>业务管理</span>
        </a>
        <a class="menu-item" href="#">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span>IDC管理</span>
        </a>
        <a class="menu-item" href="#">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            <span>标签管理</span>
        </a>
        <a class="menu-item" href="#">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span>日志管理</span>
        </a>
    </div>



