
      <div class="pg-header">
        <div class="logo left">
            <a href="#" class="logo-text">
                SuoSuo
            </a>
        </div>

        <div class="left-menu left">
            <a href="/index.html">平台首页</a>
            <a href="/cmdb.html">资产首页</a>
        </div>

          <div class="right-menu right">
            <div class="user-info right">
                <a href="#" class="avatar">
                    <img src="/static/imgs/avatar/default.png" class="img-circle">
                </a>

                <div class="more-items">
                    <a href="#" class="item">各人信息</a>
                    <a href="#" class="item">注销</a>
                </div>
            </div>

             <a class="user-menu right">
                消息
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <span class="badge bg-success">2</span>
            </a>

            <a class="user-menu right">
                通知
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span class="badge bg-success">2</span>
            </a>

            <a class="user-menu right">
                任务
                <i class="fa fa-bell-o" aria-hidden="true"></i>
                <span class="badge bg-danger">4</span>
            </a>
        </div>
      </div>