{% extends  'include/layout.html' %}


    {% block index-menu %}

    {% endblock %}
    {% block index-menu-css %}

    {% endblock %}

    {% block content %}
        <div class="pg-body">
            <div class="row" style="margin: 40px 60px;">

                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box default-bg" style="box-sizing: border-box;">
                        <i class="fa fa-desktop fa-4x left"></i>
                        <a href="/cmdb.html" class="box-text left">资产 </a>
                        <div class="box-little">CMDB</div>
                    </div>
                </div>




                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box blue-bg ">
                        <i class="fa fa-cog left"></i>
                        <a href="#" class="box-text left">配管 </a>
                        <div class="box-little">configuration</div>
                    </div>
                </div>




                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box brown-bg">
                        <i class="fa fa-cloud left"></i>
                        <a href="#" class="box-text left">私有云 </a>
                        <div class="box-little">OpenStack</div>

                    </div>
                </div>


                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box pool-bg">
                        <i class="fa fa-eye left"></i>
                        <a href="#" class="box-text left">监控 </a>
                        <div class="box-little">Monitor</div>

                    </div>
                </div>
            </div>

            <!-- 第二行 -->
            <div class="row" style="margin: 40px 60px;">
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box green-bg">
                        <i class="fa fa-connectdevelop left"></i>
                        <a href="#" class="box-text left">堡垒机 </a>
                        <div class="box-little">Bastion</div>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box task-bg ">
                        <i class="fa fa-tasks left"></i>
                        <a href="#" class="box-text left">任务 </a>
                        <div class="box-little">Task</div>
                    </div>
                </div>




                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box dns-bg">
                        <i class="fa fa-tasks left"></i>
                        <a href="#" class="box-text left">DNS </a>
                        <div class="box-little">Dynamic DNS</div>

                    </div>
                </div>


                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box flow-bg">
                        <i class="fa fa-skyatlas left"></i>
                        <a href="#" class="box-text left">资源池 </a>
                        <div class="box-little">resource pool</div>
                    </div>
                </div>
            </div>

            <!-- 第三行 -->
            <div class="row" style="margin: 40px 60px;">
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box twitter-bg">
                        <i class="fa fa-recycle left"></i>
                        <a href="#" class="box-text left">发布 </a>
                        <div class="box-little">publisher</div>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="box gray-bg ">
                        <i class="fa fa-plus left"></i>
                        <a href="#" class="box-text left">添加 </a>
                        <div class="box-little">ADD</div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}



